.flake8
.git/*
.github/*
.gitignore
.pre-commit-config.yaml
.pylintrc
.readthedocs.yml
.travis.yml
*.md
Dockerfile
Dockerfile-demo
Dockerfile-sqbase
build-docker.sh
docs/*
images/*
mkdocs.yml
pytest.ini
samples/*
tests/*
