*~
#*
*.log
*.pid
*.pyc
*.swp
.DS_Store
.idea
.ipynb_checkpoints
.vscode
__pycache__
ansible.cfg
antique
checkpoints
cscope.*
dist
hosts-files
oldcli
play
hosts
runonce
parquet
partest
suzieq-cli.build
tmp/**
suzieq/.ropeproject/
workspace.code-workspace
suzieq.egg-info/
