*~
#*
*.log
*.parquet
*.pid
*.pyc
*.swp
.DS_Store
.idea
.ipynb_checkpoints
.vscode
__pycache__
ansible.cfg
antique
checkpoints
cscope.*
dist
hosts-files
oldcli
play
suzieq-cli.build
suzieq/hosts/
tmp/**
