language: python
python:
  - "3.7"
  - "3.8"
# command to install dependencies
before_install:
  - pip install --upgrade pip
  - pip install poetry --no-root
install:
  - poetry install
  - cp build/suzieq-cfg-travis.yml suzieq-cfg.yml
# command to run tests
script:
  - pytest
env:
  - PYTHONPATH=/home/travis/build/netenglabs/suzieq
git:
  depth: false