[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[packages]
asyncssh = "*"
pandas = "*"
pyarrow = "*"
pyyaml = "*"
aiohttp = "*"
confluent-kafka = "*"
textfsm = "*"
async-timeout = "*"
uvloop = "*"
findspark = "*"
python-daemon = "*"
"flake8" = "*"
pyinstaller = "*"
python-nubia = "*"
requests = "*"
fire = "*"
ipython = "*"

[requires]
python_version = "3.6"
