[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[packages]
asyncssh = "*"
pandas = "*"
pyyaml = "*"
aiohttp = "*"
confluent-kafka = "*"
textfsm = "*"
async-timeout = "*"
uvloop = "*"
findspark = "*"
python-daemon = "*"
"flake8" = "*"
pyinstaller = "*"
requests = "*"
dask = {extras = ["complete"],version = "*"}
aiofiles = "*"
typing = "*"
prompt-toolkit = ">2"
fire = "*"
rope = "*"
jedi = "*"
ipython = "*"
pyarrow = "==0.13.0"
distributed = "*"
jupyter = "*"
ipdb = "*"
pycscope = "*"
dateparser = "*"
modin = "*"
networkx = "*"
autopep8 = "*"
pygraphviz = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
