[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
jedi = "*"
ipython = "*"
flake8 = "*"
ipdb = "*"
pycscope = "*"
jupyter = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-asyncio = "*"
pytest-mock = "*"
mock = "*"

[packages]
aiohttp = "==3.6.2"
asyncssh = "*"
textfsm = "*"
async-timeout = "*"
aiofiles = "*"
typing = "*"
prompt-toolkit = ">2"
pyarrow = "~=0.17"
pandas = "~=1.0"
PyYAML = "*"
#python-nubia = "==0.2b2"
# we have bug fixes that we need installed
python-nubia = {git = "git://github.com/ddutt/python-nubia.git",editable = true}
cyberpanda = {git = "git://github.com/ddutt/cyberpandas.git",editable = true}
uvloop = "*"
# The following packages are required only if using an engine
# other than pandas. Commenting them out for now
# distributed = "*"
# findspark = "*"
# modin = "*"
# requests = "*"
# pandasql = "*"
# python3-graph-tool = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
