[tool.poetry]
name = "suzieq"
version = "0.2.0"
description = ""
authors = ["Dinesh G Dutt", "Justin Pietsch"]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "==3.6.2"
asyncssh = "*"
textfsm = "*"
async-timeout = "*"
aiofiles = "*"
typing = "*"
prompt-toolkit = ">2"
pyarrow = "~=0.17"
pandas = "1.0.5"
PyYAML = "*"
python-nubia = {git = "https://github.com/ddutt/python-nubia.git"}
cyberpandas = {git = "https://github.com/ddutt/cyberpandas.git"}
uvloop = "*"
networkx = "^2.4"
matplotlib = "^3.2.2"
faker = "^4.1.1"
netconan = "^0.11.2"
jsonpath-ng = "^1.5.1"

[tool.poetry.dev-dependencies]
pylint = "*"
autopep8 = "*"
rope = "*"
jedi = "*"
flake8 = "*"
ipdb = "*"
pycscope = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-asyncio = "*"
pytest-mock = "*"
mock = "*"
pytest-depends = "^1.0.1"
bandit = "^1.6.2"
pytest-icdiff = "^0.5"
ipython = "~=7.15.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
