[tool.poetry]
name = "suzieq"
version = "0.2.0"
description = ""
authors = ["Dinesh G Dutt", "Justin Pietsch"]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "==3.6.2"
asyncssh = "*"
textfsm = "*"
async-timeout = "*"
aiofiles = "*"
typing = "*"
prompt-toolkit = ">2"
pyarrow = "~=0.17"
pandas = "~=1.0"
PyYAML = "*"
python-nubia = {git = "git://github.com/ddutt/python-nubia.git"}
cyberpandas = {git = "git://github.com/ddutt/cyberpandas.git"}
uvloop = "*"
dash = "*"
streamlit = "*"

[tool.poetry.dev-dependencies]
pylint = "*"
autopep8 = "*"
rope = "*"
jedi = "*"
ipython = "*"
flake8 = "*"
ipdb = "*"
pycscope = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-asyncio = "*"
pytest-mock = "*"
mock = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
