service: topcpu
period: 60
type: counters
apply:
  cumulus:
    version: all
    command: top -bn 1 | head -17
    textfsm: textfsm_templates/cl_top.tfsm

  linux:
    version: all
    command: top -bn 1 | head -17
    textfsm: textfsm_templates/linux_top.tfsm

  eos:
    version: all
    command: bash timeout 5 top -bn 1 | head -17
    format: text
    textfsm: textfsm_templates/cl_top.tfsm

  platina:
    copy: cumulus
